html{
  font-size: 62.5%;
}

*,
*:after,
*:before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg{
  display: block;
  max-width: 100%;
}

input, button, textarea, select{
  font: inherit
}

p, h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6{
  text-wrap: balance;
}

a{
  color: inherit;
  display: block;
  text-decoration: none;
}

ol, ul{
  list-style: none;
}

blockquote, 
q{
  quotes: none;
}

blockquote:after, 
blockquote:before,
q:after,
q:before{
  content: '';
  content: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}
