.cards{
  &--wrapper{
    width: 100vw;
    background-color: #42e7b0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--content{
    max-width: 1200px;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 3rem 2rem;

  }
}